

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: white;
}

.header{
 background-color: turquoise;
 font-size: 30px;
 height: 8vh;
 width: 100;
 text-align: center;
}

.items-needed{
  background-color: yellow;
  font-size: 30px;
  color: black;
  text-align: center;
  bottom: 50vh;
  height: 8vh;
  width: 100;
}


.kitchen-output{
  font-size: 30px;
  color: black;
  align-items: center;
  align-content: center;
  text-align: center;
  bottom: 50vh;
  height: 8vh;
  width: 100;
}
.button{
  display: inline;
  
}

.second-button{
  display: inline;
}

.store-output{
  box-sizing: border-box ;

}

.output-store{
  border: black 1px solid;
}