

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header{
 background-color: turquoise;
 font-size: 30px;
 font-weight: 20px;
 height: 6vh auto;
 width: 100;
 text-align: center;
 margin: 0%;
}

.items-needed{
  background-color: yellow;
  font-size: 30px;
  color: black;
  text-align: center;
  height: 6vh auto;
  width: 100;

}

.kitchen-output{
  border: black 1px solid;
}
.output-store{
  border: black 1px solid;
}